@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro&display=swap");
* {list-style: none; margin: 0; padding: 0; box-sizing: border-box; color: #fff; font-family: "Oswald", sans-serif; text-decoration: none }
:root {--main: #e21221; --box: #1f1f1f; }
body{background: #111;}
.max-width{max-width: 1200px; margin: 50px auto; flex-direction: column; display: flex; justify-content: center; align-items: center; margin-bottom: 0;}
#snackbar {
    visibility: hidden; min-width: 250px; margin-left: -125px; background-color: #333; color: #fff; 
    text-align: center; border-radius: 2px; padding: 16px; position: fixed; z-index: 5; left: 50%; bottom: 30px;
}
#snackbar.show {visibility: visible; animation: fadein 0.5s, fadeout 0.5s 2.5s;}
@keyframes fadein { from {bottom: 0; opacity: 0;} to {bottom: 30px; opacity: 1;} }
@keyframes fadeout { from {bottom: 30px; opacity: 1;} to {bottom: 0; opacity: 0;} }
